<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{{concat project title}}}</title>

    {{#if hasFavicon}}
    <link rel="shortcut icon" href="{{{module "assets"}}}/favicon.ico" type="image/x-icon" />
    {{/if}}

    <link rel="stylesheet" href="{{{module "bootstrap"}}}/css/bootstrap.min.css" >
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
        <h1 class="display-1 fw-bold">{{{title}}}</h1>
        <p class="fs-3"><span class="text-danger">Oups! </span>{{{description}}}</p>
        <p class="lead">
            {{{content}}}
          </p>
        <a href="/" class="btn btn-primary">Go Home</a>
      </div>
    </div>
  </body>
</html>
